
{% extends "base.html" %} 

{% block content %}

{% for book in all_books %} 
<div class="book">
    <div class="content">
        {{book.author.first_name}} {{book.author.last_name}}
        <div class="title">
            <a href="/books/{{book.id}}">{{book.title}}</a>
            <span class="pages">{{book.pages}} pgs</span>
        </div>
        <div class="buttons">
            <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
                <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>

{% endfor %} 

{% endblock %}