.amiibo-list{ 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.main-container{
  display: flex;
}

/* img {
  display: grid;
  height: 100px;
  width: auto;
} */